<% include ../partials/_header %>

<div class="container">
  <h1>View User</h1>

  <div>ID: <b><%= user.id %></b></div>
  <div>Username: <b><%= user.username %></b></div>
  <div>Email: <b><%= user.email %></b></div>
</div>

<% include ../partials/_footer %>
